{% extends "users/base.html" %}


{% block content %}


<div class="card text-center" style="width: 500px;">
    <div class="card-header h5 text-white bg-primary">Enter New Password</div>

    {% if message %}
            <div class="alert alert-info" role="alert">
                {{ message }} <p> <a href="{% url 'login' %}">Login</a></p>
            </div>
        {% else %}
    
    <div class="card-body px-5">

        <p class="card-text py-2">
            Please enter and confirm the new password. We will verify your password
        </p>
        <form method="post" class="password-reset-form">
            {% csrf_token %}
            
            <div class="form-outline" >
                {{ form.new_password1.label_tag }}
            </div>
           <div >
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <br>
            <div class="form-outline">
                {{ form.new_password2.label_tag }}
            </div>
        <div>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary w-100">Reset password</button>
        </form>
        
        
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="{% url 'login' %}">Login</a>
            
        </div>
        {% endif %}
    </div>
</div>



  {% endblock content %}