{% extends "users/base.html" %}
 
{% block content %}

<div class="card text-center" style="width: 400px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    
    <div class="card-body px-5">
        
        {% if message %}
            <div class="alert alert-info" role="alert">
                {{ message }} <p>and <a href="{% url 'login' %}">Login</a></p>
            </div>
        {% else %}
        <p class="card-text py-2">
            Enter your email address, and we'll send you an email with instructions to reset your password.
        </p>
        {% endif %}
        <form method="post" action="{% url 'reset_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Reset password</button>
        </form>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="{% url 'login' %}">Login</a>
        </div>
        <div class="d-flex justify-content-between mt-2">
        <a class="" href="{% url 'register-applicant' %}">Register Applicant</a>
        </div>
       
        <div class="d-flex justify-content-between mt-2">
        <a class="" href="{% url 'register-recruiter' %}">Register Recruiter</a>
        </div>
    </div>
</div>

{% endblock %}
